<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">


    <!-- Bootstrap core CSS -->

    <link href=static/css/globalstyle.css rel="stylesheet"> <!--Regles generales pour tout le site-->
    <link href=static/css/profile.css rel="stylesheet"> <!--Customisation de la page-->
    <link href=static/css/navbar.css rel="stylesheet"> <!-- Customisation de la navbar-->
    <link href=static/css/section-signing.css rel="stylesheet"> <!--Customisation de la section-signing-->
    <link href=static/css/temoignages.css rel="stylesheet"> <!--Customisation des zones how it works et molka&co-->
    <link href=static/css/gallery.css rel="stylesheet"> <!--Customisation de la galerie de photos-->
    <link href=static/css/footer.css rel="stylesheet"> <!--Customisation du footer -->

  </head>
<!-- NAVBAR
-->
<body>

  <div class=header>
     <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="frontpage3.html"> Postart </a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Discover<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Top rated pictures</a></li>
                      <li><a href="#">Top rated artists</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Local pictures</a></li>
                      <li><a href="#">Local artists</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Recent pictures</a></li>
                    </ul>
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Followed artists<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Friends I follow</a></li>
                      <li><a href="#">Their photos</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Suggested artists</a></li>
                    </ul>
                  </li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Your gallery<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">My photos</a></li>
                      <li class="divider"></li>
                      <li><a href="#">My collected photos</a></li>
                    </ul>
                  </li>
                    
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">My Orders</a></li>
                      <li class="divider"></li>
                      <li><a href="#">My Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
              </ul>
            </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </div>  

<!-- PROFILE 
==================================================  -->
    
<div class="profile-desc">
  <div class="container-fluid">
  	<div class="row panel">
  		<div class="col-md-4 profile-font">
                  <!-- La photo est dans le profile.CSS en background image-->
  		</div>
          <div class="col-md-8  col-xs-12">
             <img src="Images/Photo_profile_bat.png" class="img-circle picture hidden-xs" />
             <div class="header">
                  <h1>Bobby</h1>
                  <h4>Med student, traveller and photo lover</h4>
                  <span>Every time I go somewhere, I bring my camera with me... I love New York and I hope you will enjoy the shots I made there!! </span>
             </div>
          </div>
      </div>   
  </div>
</div>  
    

  
<!-- GALERIE DE PHOTOS THUMBNAIL - SOURCE du code : http://www.bootply.com/70929
==================================================  -->

<div class="gallery">
  <div class="container">
    <h1>Meme page pour top rated pictures, local pictures, my gallery, my uploaded photos, etc.</h1>
    <h2>Top pictures from our community <p class="lead"> Curated for the people, by the people</p></h2>
    <div class="row">  
      <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
              <img src="http://www.bootbundle.com/bundle/unsplash/bg_suburb_1024.jpg" class="thumbnail img-responsive">
              <img src="http://www.bootbundle.com/bundle/unsplash/bg_suburb_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/boardwalk_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/green_leaf_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/mtns_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/old_plank_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/rustic_bldg_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://www.bootbundle.com/bundle/unsplash/woods_1024.jpg" class="thumbnail img-responsive">
          </a>
      </div>
       
       <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="#">
               <img src="http://s3.amazonaws.com/sitebuilderreport-assets/stock_photos/files/000/000/991/small/download?1412714592" class="thumbnail img-responsive">
          </a>
      </div>
      
    </div>    
  <hr>
  	<nav>
         <ul class="pagination">
          <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        </ul>
        </nav>
  <hr>
  </div>  
</div>


<!-- FOOTER
==================================================-->
 
<footer>
  <div class="footer">
    <div class="container-fluid"> 
      <div class=row>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <h4>Postart</h4>
            <ul>
              <li><a href=#>Sign up</a></li>
              <li><a href=#>Sign in</a></li>
              <li><a href=#>Help</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <h4>Contact</h4>
            <ul>
              <li><a href=#>Email</a></li>
              <li><a href=#>Twitter</a></li>
              <li><a href=#>Facebook</a></li>
              <li><a href=#>Google+</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <h4>About</h4>
            <ul>
              <li><a href=#>Testimonials</a></li>
              <li><a href=#>History</a></li>
            </ul>
          </div>          
          <div class="col-md-2 col-sm-2 col-xs-2">
            <h4>Apps</h4>
            <ul>
              <li><a href=#>Iphone cooking</a></li>
              <li><a href=#>Android cooking</a></li>
            </ul>
          </div>          
      </div>
    </div>  
  </div>
</footer>




<!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap-3.2.0 Source/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap-3.2.0 Source/dist/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.2.0 Source/dist/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
