<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
      

    <title>signup</title>

    <!-- Bootstrap core CSS -->
    <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template by GUIGUI -->
    
    <link href=static/CSS/signup.css rel="stylesheet"> <!--Regles generales pour la page-->
    
    <link href=static/CSS/navbar.css rel="stylesheet"> <!-- Customisation de la navbar-->
    <link href=static/CSS/introimage.css rel="stylesheet"> <!--Customisation de la section d'introduction-->
    <link href=static/CSS/temoignages.css rel="stylesheet"> <!--Customisation des zones how it works et molka&co-->
    <link href=static/CSS/gallery.css rel="stylesheet"> <!--Customisation de la galerie de photos-->
    <link href=static/CSS/jquery.flex-images.css rel="stylesheet"> <!-- Galerie responsive en JQUERY - Cf. http://www.jqueryrain.com/?TnsckNdq -->
    <link href=static/CSS/footer.css rel="stylesheet"> <!--Customisation du footer -->
    
</head>

<body>

<!-- NAVBAR - Cf. CSS associated
================================================== -->
    <div class=header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class=row>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-4">
                <p class="navbar-text pull-left">Postart</p>
                
              </div>
              <div class="col-md-6 col-sm-6 col-xs-7">
                <button type="button" id="connexion" class="btn btn-default navbar-btn pull-right">Sign in</button>  
                <button type="button collapse" id="inscription"  class="btn btn-default navbar-btn pull-right" >Sign up</button>  
              </div>
          </div> 
          
        </div>
      </nav>
    </div>
    
    <!-- Intro-image -CF CSS associated
    ================================================== -->

    <div class="intro-image">
      <div class=container-fluid>
     
          <div class=row>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
              <h1>Get rid of your pen and send your first Postart!</h1>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
          </div> 
      </div>
    </div>  

    
    <!-- css associe provient des regles generales de la page signup.css
    ================================================== -->

    <div class="signupsection">
      <div class=container-fluid>
        <div class=container>
          <div class=row>
            
            <div class="col-md-6 col-sm-0 col-xs-0 hidden-xs">
          
                <h2>Postart is on the move</h2>
                <p>Stop looking for postcards - <i> We have the best ones <i></p>
                <p>Stop looking for a mail box - We'll do that for you</p>
                <p>Stop looking for a pen - Use postart app</p>
                <p>Stop looking for inspiration - Hmm... Actually we cannot write for you!</p>
            </div>
            
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                
            
                <div class="offset2 span8 flow-box">
                  <form class="form-signin" role="form">
                    <h2 class="form-signin-heading"> </h2>
                    <h4 id="create_account_title"><em>Be part of a great community</em></h4>
                    
                    <label for="inputEmail" class="sr-only">First Name</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="First Name" required autofocus>
                        
                    <label for="inputEmail" class="sr-only">Last Name</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Last Name" required autofocus>
                    
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> By signing up I agree to the
                        <a href=# > Terms and Conditions </a>
                      </label>
                    </div>
                    <button id="create_account_btn" class="btn btn-lg btn-primary btn-block" type="submit">Create an Account</button>
                  </form>
                </div>
            </div>  
          </div> 
        </div>
      </div>
    </div>  


      <!-- FOOTER
      ==================================================-->
 
  <footer>
    <div class="footer">
      <div class=container-fluid> 
        <div class=row>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>Postart</h4>
              <ul>
                <li><a href=#>Sign up</a></li>
                <li><a href=#>Sign in</a></li>
                <li><a href=#>Help</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>Contact</h4>
              <ul>
                <li><a href=#>Email</a></li>
                <li><a href=#>Twitter</a></li>
                <li><a href=#>Facebook</a></li>
                <li><a href=#>Google+</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>About</h4>
              <ul>
                <li><a href=#>Testimonials</a></li>
                <li><a href=#>History</a></li>
              </ul>
            </div>          
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h4>Apps</h4>
              <ul>
                <li><a href=#>Iphone cooking</a></li>
                <li><a href=#>Android cooking</a></li>
              </ul>
            </div>          
          
        </div>
        
    
      </div>
    </div>
  </footer>
  




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bootstrap/dist/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
